<phpunit bootstrap="tests/autoload.php">
	<testsuites>
	    <testsuite name="Browser">
	        <directory suffix="Test.php">./tests/Browser</directory>
	    </testsuite>
	    <testsuite name="Feature">
	        <directory suffix="Test.php">./tests/Feature</directory>
	    </testsuite>
	    <testsuite name="Unit">
	        <directory suffix="Test.php">./tests/Unit</directory>
	    </testsuite>
	</testsuites>
	<php>
		<env name="APP_KEY" value="base64:SOYtGwgoc8y3nkvpRQcHslB8KROGtqSHqMlM7s0Pp58="/>
	</php>
</phpunit>